Repository julia-vscode/julia-vscode, pull requests merged in 2021-07, with the labels that each got.

#2257 Reuse kernel even if notebook was closed
  src/notebook/notebookFeature.ts
Labels: area-notebook, bug

#2260 Rework notebook display
  scripts/packages/VSCodeServer/src/notebookdisplay.jl
  src/notebook/notebookKernel.ts
Labels: area-notebook, enhancement

#2275 Use a more standard name for kernel
  src/notebook/notebookFeature.ts
Labels: area-notebook, enhancement

#2295 improve LS error message
  src/interactive/repl.ts
Labels: bug

#2309 Provide better labels for notebook controller
  src/notebook/notebookFeature.ts
Labels: area-notebook, enhancement

#2307 Hide notebook feature behind a feature flag
  package.json
  src/notebook/notebookFeature.ts
Labels: Showstopper, area-notebook, bug

#2316 fix hideprompt on 1.6 and newer
  scripts/packages/VSCodeServer/src/repl.jl
Labels: bug

#2322 Fix notebook restart
  src/notebook/notebookFeature.ts
Labels: area-notebook, bug

#2315 Implement a new kernel selection strategy
  src/juliaexepath.ts
  src/notebook/notebookFeature.ts
Labels: area-notebook, enhancement

#2313 Add a debug launch for the LSP
  .gitignore
  .vscode/launch.json
  scripts/languageserver/main.jl
  src/extension.ts
Labels: enhancement

#2324 Send crash reports when notebook kernel crashes
  scripts/packages/VSCodeServer/src/serve_notebook.jl
Labels: area-notebook, enhancement

#2327 use softscope transform for notebook eval if available
  scripts/packages/VSCodeServer/src/serve_notebook.jl
Labels: area-notebook
